h1 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
}

p {
    color:black;
    background-color:darkkhaki;
    padding: 5px;
    border: 16px solid coral;
    margin: 50px;
}