h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*a:visited{
/*    color:blueviolet;
/*    text-decoration: none;
/*}
/*
/*/
/*a:hover{
/*    color:yellowgreen;
/*    text-decoration: underline;
/*}
/*
/*a:active{
/*    color: violet;
/*    text-decoration: underline;
/*} */ 

/*a:link, a:visited {
    background-color: aquamarine;
    color: aqua;
    padding: 15px 25px;
    text-align:  center;
    text-decoration: none;
}

a:hover, a:active{
    background-color: burlywood;
     
}*/